*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav ul a{
    color: #36536B;
    font-size: 15px;
    font-weight: 700;
}

.btn{
    background-color: #BA4270;
    border-radius: 24px;
    color: white;
    padding: 16px 25px;
}

.menu{
    display: none;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content h1{
    width: 546px;
    font-size: 72px;
    color: #36536B;
}


@media(max-width:836px){
.header__content{
    align-items: center;
}

.header__content h1{
    font-size: 32px;
    margin: auto;
    text-align: center;
    width: 300px;
}

.header__content img{
    width: 300px;
}
 
}

@media(max-width:568px){
    nav ul{
        display: none;

    }

    .menu{
        display: flex;
    }
}